@font-face {
	font-family: 'TTFirsNeue';
	font-weight: 700;
	src: local('TTFirsNeue'), url('/src/assets/fonts/TTFirsNeue-Bold.woff2');
}
@font-face {
	font-family: 'TTFirsNeue';
	font-weight: 400;
	src: local('TTFirsNeue'), url('/src/assets/fonts/TTFirsNeue-Regular.woff2');
}
@font-face {
	font-family: 'TTFirsNeue';
	font-weight: 500;
	src: local('TTFirsNeue'), url('/src/assets/fonts/TTFirsNeue-Medium.woff2');
}
